<div class="signup-wrapper">
    <mat-card class="signup-card">
        <mat-card-title class="card-title">Register</mat-card-title>
        <form>
            <mat-card-content class="card-content">
                <mat-form-field class="form-field input-full-width">
                    <mat-label>Select Role</mat-label>
                    <mat-select name="usertype" [(ngModel)]="registerUserData.usertype">
                      <!-- <mat-option *ngFor="let food of foods" [value]="food.value"> -->
                      <mat-option value="operator">Operator</mat-option>
                      <mat-option value="doctor">Doctor</mat-option>
                      <mat-option value="patient">Patient</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width">
                    <mat-label>Username</mat-label>
                    <input type="text" name="username" [(ngModel)]="registerUserData.username" matInput>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" name="email" [(ngModel)]="registerUserData.email" matInput>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" name="password" [(ngModel)]="registerUserData.password" matInput>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="card-actions">
                <button class="mat-btn register-btn" mat-raised-button color="primary" (click)="registerUser()">Register</button>
                <a class="mat-btn" mat-button href="/">Forgot Password?</a>
            </mat-card-actions>
            <mat-card-footer class="card-footer">
                <a class="mat-btn" mat-button routerLink="/auth/login">Have an account? Log In</a>
            </mat-card-footer>
        </form>
    </mat-card>
</div>