<div class="login-wrapper">
    <mat-card class="login-card">
        <mat-card-title class="card-title">Login</mat-card-title>
        <form>
            <mat-card-content class="card-content">
                <mat-form-field class="form-field input-full-width">
                    <mat-label>Select Role</mat-label>
                    <mat-select>
                        <!-- <mat-option *ngFor="let food of foods" [value]="food.value"> -->
                        <mat-option value="operator">Operator</mat-option>
                        <mat-option value="doctor">Doctor</mat-option>
                        <mat-option value="patient">Patient</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field class="form-field input-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="card-actions">
                <button class="mat-btn login-btn" mat-raised-button color="primary">Login</button>
                <a class="mat-btn" mat-button href="/">Forgot Password?</a>
            </mat-card-actions>
            <mat-card-footer class="card-footer">
                <a class="mat-btn" mat-button routerLink="/auth/register">New user? Sign Up</a>
            </mat-card-footer>
        </form>
    </mat-card>
</div>