<mat-toolbar class="toolbar" color="primary">
    <div class="app-title-wrapper">
        <span class="app-logo">
            <img src="../../../../assets/malogo.png">
        </span>
        <span class="app-title">
            My Application
        </span>
    </div>
    <div class="user-info-wrapper">
        <span class="user-title">
            Dr. John Doe
        </span>
        <span class="user-logo">
            <img src="../../../../assets/user.png">
        </span>
    </div>
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="Home">Home</mat-tab>
    <mat-tab label="Profile">Profile</mat-tab>
    <mat-tab label="Logout">Logout</mat-tab>
</mat-tab-group>
<!-- <router-outlet></router-outlet> -->